.rightSpace{ 
margin-right:16px;
}

.leftSpace{ 
margin-left:100px;
}

#list {
    white-space:nowrap;
  }
  #list div ,
  #list a {
    display:inline-block;
    white-space:normal;
    vertical-align:middle;
  }

